@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --des-blue: hsl(233, 47%, 7%);
  --soft-violet: hsla(285, 55%, 62%, 0.514);
  --trans-white: hsla(0, 0%, 100%, 0.75);
  --accent: hsl(277, 64%, 61%);
  --card-bg: hsl(244, 38%, 16%);
  --main-p: hsla(0, 0%, 100%, 0.75);
  --stat: hsla(0, 0%, 100%, 0.6);
  --bg-layer: hsla(277, 89%, 25%, 0.555);
}

body {
  background: var(--des-blue);
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: #fff;
  b
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin-top: 50px;
}

.info-container {
  padding: 4.375em;
  width: 100%;
}

.card {
  background: var(--card-bg);
  display: flex;
  border-radius: 5px;
}

section.info {
  width: 50%;
  display: flex;
  justify-content: center;
}

section.info h1.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}
section.info p.description {
  font-size: 0.85rem;
  margin-bottom: 75px;
  font-family: "Lexend Deca";
  line-height: 1.6;
  color: var(--main-p);
}

section.info h1.title .insights {
  color: var(--accent);
}

section.info .stats {
  display: flex;
}
section.info .stats .stat {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
section.info .stats .stat .count {
  font-size: 1.3rem;
  font-family: "Lexend Deca";
  font-weight: 700;
  margin-bottom: 10px;
}
section.info .stats .stat .title {
  font-size: 0.7rem;
  font-family: "Lexend Deca";
  color: var(--stat);
  text-transform: uppercase;
}
section.right {
  width: 50%;
}

section.right .img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./images/image-header-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

section.right .bg-layer {
  background-color: var(--bg-layer);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: #fff;
}

.attribution a:nth-child(2):hover {
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 768px) {
  .info-container {
    padding: 0;
    text-align: center;
    margin-top: 40px;
  }

  section.info h1.title {
    font-size: 1.5rem;
  }
  .card {
    flex-direction: column-reverse;
    width: 80%;
  }
  section.info {
    width: 100%;
  }
  section.right {
    width: 100%;
    height: 30vh;
  }

  section.info p.description {
    margin-bottom: 40px;
    padding: 0 15px;
  }

  section.info .stats {
    flex-direction: column;
  }
  section.info .stats .stat {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  section.info .stats .stat .count {
    font-size: 1.1rem;
  }

  footer {
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 400px) {
  section.info h1.title {
    padding: 0 10px;
  }
  footer {
    margin-top: 20px;
  }
}
